html, body {
	background: #E1E1E1 url(images/bg.png) repeat-x;
	margin: 0px;
	font-family: helvetica, arial;
	line-height: 23px;
}

#centering-wrapper {
	margin: 0 auto;
	width: 735px;
	background: transparent url(images/body.png);
}

#head {
	background: transparent url(images/head.png);
	height: 223px;
}

#content {
	padding: 0 20px 0 20px;
}

#content .main {
	margin: 
}

#foot {
	background: transparent url(images/foot.png);
	height: 57px;
}